git_howto.txt
keras_tensorflow_guide.txt
python_manual.txt
sklearn_scipy_sympy_stat_guide.txt
.vscode
__pycache__
.DS_Store
.ipynb_checkpoints
.pytest_cache
eda_fe_summary
literature/*.pdf
data_science_udacity
udacity-cd0581-building-a-reproducible-model-workflow-exercises
music_genre_classification
udemy-docker-mastery
docker_swarm_kubernetes